<div class="row">

    <div class="col-12 search-box-wrapper">
        <mat-form-field appearance="fill" class="search-box-field">
            <mat-label>Search Weather By Location</mat-label>
            <mat-icon matSuffix>search</mat-icon>

            <input matInput type="text" placeholder="select a city" aria-label="Number" [matAutocomplete]="auto"
                [formControl]="searchControl" oninput="this.value=this.value.replace(/[^a-zA-Z ]/g,'');">
                <mat-error *ngIf="searchControl.invalid">Please type with English letter only</mat-error>

            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn"
                (optionSelected)='selectLocation($event.option.value)'>
                <ng-container>
                    <mat-option *ngFor="let option of suggestedLocationList$ | async" [value]="option">
                        <span class="location-name">{{option.LocalizedName}}</span>
                        <small class="text-muted"> | {{option.Country.LocalizedName}}</small>
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>