.search-box-wrapper {
    text-align: center;
    
    .location-name {
        color: var(--text-color5);
    }
}

@media (min-width: 599px) {
    .search-box-field {
        min-width: 20rem;
    }
}

