<div class="row location-details-wrapper justify-content-center"
    [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(245, 246, 252, 0.3), rgba(117, 19, 93, 0.6)), url('+ currentWeatherIcon+')'}">

    <div class="col-12 search-box-wrapper">
        <app-search-location></app-search-location>
    </div>

    <div class="col-12 col-sm-2 col-md-1 col-lg-1 col-xl-1">
        <button mat-mini-fab color="primary" class="favorite-button" (click)="setLocationAsFavorite()"
            *ngIf="!includedInFavorite">
            <mat-icon>star_outline</mat-icon>
        </button>
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <h2 class="location-name"> {{selectedLocation?.LocalizedName}}
            <small class="country"> 
                |
                {{selectedLocation?.Country?.LocalizedName}}
            </small>
        </h2>
        <h3 class="weather-description">{{currentWeather?.weatherDescription}}
            <small> now with {{currentWeather?.temperature?.max?.Value | number:'1.0-0'}}°</small>
        </h3>
    </div>
</div>


<div class="row justify-content-center">
    <ng-container *ngFor="let day of weeklyData$ | async">
        <div class="col-10 col-sm-6 col-md-4 col-lg-4  col-xl-2">
            <app-weather-item [weatherItem]="day"></app-weather-item>
        </div>
    </ng-container>
</div>