<mat-toolbar color="primary" >
    <mat-toolbar-row>
        <div class="logo-holder" [routerLink]="['/home']">
            <img src="../assets/img/logo.png">
            <span href="#">Nati's Weather</span>
        </div>
        <span class="spacer"></span>
        <button mat-button [routerLink]="['/favorites']">
            <span class="material-icons header-icon">
                star
            </span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">

    <router-outlet></router-outlet>

</div>