:root {
    --text-color1: #b463a6;
    --text-color2: #9e879a;
    --text-color3: #b3cde0;
    --text-color4: #861d73;
    --text-color5: #401037;
    --error-color: #cc2d02;
    --success-color: #39c01e;
}